/* comentariops en CSS*/

body{

    background-color : 
    rgb(54, 227, 193) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 3em;
}
ul.barnav{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 15em;
    
    
}

ul.barnav li{
 background-color: rgb(
    134, 237, 172
    );
    padding: 1.5em;
    border-left: 1.5em solid palevioletred;
}
iframe.video{

    padding-right: 1em;
    margin: 0.5eem 0 0 0.5em ;
}